.tree {
    margin-top: 100px;
    position: absolute;
    height: 4600px;
    width: 1px;
    background-color: gray;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 100px;
}

.tree-wrapper {
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}