.detail .pictures {
    width: 60vw;
    overflow: hidden;
    position: relative;
}

.detail .pictures > .image {
    width: 60vw;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 50px;
}