.detail > .chapter1 > .info {
    width: 70vw;
}

.detail > .chapter1 > .info > .description {
     width: 55%;
     margin-top: 100px;
     color: #bbbbbb;
     text-align: left;
     font-size: 13.2px;
     line-height: 2;
     position: relative;
     display: inline-block;
     box-sizing: border-box;
     vertical-align: top;
     white-space: normal !important;
}

.detail > .chapter1 > .info > .description > span {
    color: #666;
}

.detail > .chapter1 > .info > .blank {
    width: 15%;
    position: relative;
    display: inline-block;
}

.detail > .chapter1 > .info > .section {
    width: 30%;
    margin-top: 100px;
    text-align: left;
    font-size: 13.2px;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    white-space: normal !important;
    color: lightgray;
    line-height: 1.5;
}


.detail > .chapter1 > .info > .section > span {
    color: #666;
}