.layer .layer-inner .content .header {
    margin: 0;
    padding: 0;
}

.layer .layer-inner .content .header .title {
    font-size: 72px;
    font-weight: 900;
    text-align: left;
    color: #ffffff;

    margin-right: 371px;
    margin-bottom: 0;
    margin-top: 0;
}

.layer .layer-inner .content .header .fbIcon {
    width: 22px;
    height: 22px;
    margin-left: 18px;
}

.layer .layer-inner .content .line {
    width: 800px;
    height: 1px;
    background-color: white;
    margin-top: 24px;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
}